
		body {
			background-color: #333333;
			font-family: Open sans;

		}

		body::-webkit-scrollbar {
			display: none;
		}

		.main {
			padding: 40px 0;
		}

		.col-md-3 {
			margin-bottom: 40px;
		}

		.album-poster {
			position: relative;
			display: block;
			border-radius: 7px;
			width: 100%;
			min-height: 250px;
			overflow: hidden;
			box-shadow: 0 6px 5px #d6d6d654;
			transition: all ease 0.4s;
		}

		.album-poster:hover {
			box-shadow: 0 15px 35px #d6d6d654;
			transform: scale(0.98) translateY(5px);
		}

		h3 {
			font-size: 34px;
			margin-bottom: 34px;
			border-bottom: 4px solid #e6e6e6;
			padding-bottom: 15px;
			color: whitesmoke;
			font-family: 'Nunito', sans-serif;
		}

		p {
			font-size: 15px;
			font-family: 'Nunito', sans-serif;
			color: whitesmoke;
		}

		h4 {
			font-size: 16px;
			text-transform: uppercase;
			margin-top: 15px;
			font-weight: 700;
			font-family: 'Nunito', sans-serif;
			color: whitesmoke;
		}
        input[type="checkbox"]+label{
            font-size: 16px;
			text-transform: uppercase;
			margin-top: 15px;
			font-weight: 500;
			font-family: 'Nunito', sans-serif;
			color: whitesmoke;
        }

		