@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.links {
    list-style: none;
}

.links li {
    display: inline-block;
    padding: 0px 20px;
}

.links li a:hover {
    color: blue;
}

button {
    padding: 9px 25px;
    background-color: gray;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: lightblue;
}

.loader {
    background: #111;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader div {
    background: #fff;
    width: 16px;
    height: 32px;
    margin-left: 10px;
    animation: loader 1.2s infinite;
}

@keyframes loader {
    50%{
        height: 64px;
    }
}

.loader div:nth-child(1){
    background: #FF9F1A;
    animation-delay: -0.40s;
}

.loader div:nth-child(2){
    background: #FED330;
    animation-delay: -0.20s;
}

.loader div:nth-child(3){
    background: #FFFA65;
    animation-delay: 0s;
}